.header{
    margin-bottom : 30px;
    height: 30px;
    display: flex;
    align-items: center;
    background-color: #343a40;
    padding: 50px;
    justify-content: space-around;
    
}
.search-container{
    width: 50%;
    height: 40px;
    background: none;
}

.header input{
    width: 70%;
    height: 40px;
    background: none;
    border-radius: 4px;
    padding-left: 5px;
    color: white;
}
.netflix-logo{
    width: 200px;
    height: 120px;
    border: none;
    margin-right: 100px;
}
.star{
    transition-duration: 1s;
    cursor: pointer;
}
